<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title>Email template for create reply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }

    </style>
</head>
<body>
<p th:text="${'Hi ' + titleName + ','}"></p>

<p th:text="${'You have received a reply to your comments on Order NR. ' + woId}"></p>
<br>
<p>Please see the reply below:</p>
<div>
    <ul>
        <li th:text="${'Your comments from ' + dateTime + ' :' + content}"></li>
        <br/>
        <li th:text="${'Reply was added By: '+ fbName}"></li>
        <li th:text="${'Reply Added On: ' + rpDateTime}"></li>
        <li th:text="${'Reply Content: ' + rpContent}"></li>

    </ul>
</div>

<p>
    To view your orders and related feedbacks please logging in to our <a href="http://localhost:8083/homepage">WEBSITE</a>!
</p>

<p>
    Regards,
    WalkMyPet
</p>
<br/>
<span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
<p th:text="${location}"></p>
</body>
</html>