
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title> Edit Profile </title>

</head>

<body>

<div>
    <h2> Edit your Profile </h2>

    <form action="#" th:action="@{/pet_owner/edit/{id}(id=${profile.id}" th th:text="${profile.id}>

        <table>
            <tr>
                <td><label>First Name</label></td>
                <td><input type="text" th:field="*{firstName}"></td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>
            <tr>
                <td><input type="text" hidden readonly th:field="*{id}"></td>
            </tr>
            <tr>
                <td><label>Enter your address details below:</label></td>
            </tr>
            <tr>
                <td><label>Street number</label></td>
                <td><input type="text" th:field="*{address.streetNumber}"></td>
            </tr>
            <tr>
                <td><label>Street Name</label></td>
                <td><input type="text" th:field="*{address.street}"></td>
            </tr>
            <tr>
                <td><label>Zone</label></td>
                <td><input type="text" th:field="*{address.zone}"></td>
            </tr>
            <tr>
                <td><label>City</label></td>
                <td><input type="text" th:field="*{address.city}"></td>
            </tr>
            <tr>
                <td><label>Postcode</label></td>
                <td><input type="text" th:field="*{address.postcode}"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="email" readonly th:field="*{email}"></td>
            </tr>
            <tr>
                <td><label>Profile Type</label></td>
                <td><input type="text" readonly th:field="*{profileType}"></td>
            </tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
    <table>
        <td>
            <form action="#" th:action="@{/pet_owner/} + ${profile?.id}" th:object="${profile}" method="get">
                <input type="submit" value="Go Back to Your Page"/>
            </form>
        </td>

    </table>
</div>


</body>
</html>